@using System.collection.Generic;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> polls = new List<string>();
    polls.Add("Obama 2014");
    polls.Add("Best pizza joint 2012");
    polls.Add("Best pizza joint 2013");

}

@foreach (var item in polls)
{

}

<div class="row">
    <div class="col-md-8">


    </div>
    <div class="col-md-4">

    </div>

</div>


